Package: tv.hille.kvasir2.customicons
Name: Kvasir II Custom Icons
Version: 0.2
Architecture: iphoneos-arm
Description: Hille's custom Kvasir II icons
Homepage: hille.github.io
Depiction: http://hille.github.io/depic/tv.hille.kvasir2.customicons/index.html
Maintainer: Hille <a.hille@gmail.com>
Author: Hille <a.hille@gmail.com>
Section: Themes (Winterboard)
Depends: winterboard, com.codethemed.iconbundles
