Package: yup.altfez.tottenham.respringlogo
Name: Tottenham Respring Logo
Version: 0.2
Architecture: iphoneos-arm
Description: An iPhone respring logo of the Tottenham Hotspur badge
Homepage: altfez.github.io
Depiction: http://altfez.github.io/depic/yup.altfez.tottenham.respringlogo/index.html
Maintainer: AltFez <a.hille@gmail.com>
Author: AltFez <a.hille@gmail.com>
Section: Themes (Winterboard)
Depends: winterboard
