Package: yup.altfez.kvasir2.customicons
Name: Kvasir II Custom Icons
Version: 0.2
Architecture: iphoneos-arm
Description: AltFez's custom Kvasir II icons
Homepage: altfez.github.io
Depiction: http://altfez.github.io/depic/yup.altfez.kvasir2.customicons/index.html
Maintainer: AltFez <a.hille@gmail.com>
Author: AltFez <a.hille@gmail.com>
Section: Themes (Winterboard)
Depends: winterboard, com.codethemed.iconbundles
