Package: tv.hille.tottenham.respringlogo
Name: Tottenham Respring Logo
Version: 0.2
Architecture: iphoneos-arm
Description: An iPhone respring logo of the Tottenham Hotspur badge
Homepage: hille.github.io
Depiction: http://hille.github.io/depic/tv.hille.tottenham.respringlogo/index.html
Maintainer: Hille <a.hille@gmail.com>
Author: Hille <a.hille@gmail.com>
Section: Themes (Winterboard)
Depends: winterboard
